/target/
.classpath
.project
.settings
.DS_Store
/logs/
.idea/
*.iml
/postgresqlreader/target/
/core/target/
/common/target/
/mysqlreader/target/
/mysqlwriter/target/
/plugin-rdbms-util/target/
/plugin-unstructured-storage-util/target/
/postgresqlwriter/target/
/sinohealth-mysqlreader/target/
/sinohealth-mysqlwriter/target/
/sinohealth-plugin-rdbms-util/target/
/sinohealth-processors/target/
/sinohealth-sqlserverreader/target/
/sinohealth-utils/target/
/sqlserverreader/target/
/sqlserverwriter/target/
/transformer/target/
